{
  "subscribes": [
    {
      "url": "{{ keepassxcAttribute "sing-box" "providers_url1" }}",
      "tag": "tag_1",
      "enabled": true,
      "emoji": 1,
      "subgroup": "",
      "prefix": "",
      "User-Agent": "ClashMetaForAndroid/2.11.20.Meta"
    }
  ],
  "auto_set_outbounds_dns": {
    "proxy": "",
    "direct": ""
  },
  "save_config_path": "./config.json",
  "auto_backup": false,
  "exclude_protocol": "ssr",
  "config_template": "",
  "Only-nodes": false
}