{
  "log": {"level": "info", "timestamp": false},
  "dns": {"servers": [{"tag": "proxy", "type": "tls", "server": "8.8.8.8"}]},
  "inbounds": [
    {
      "type": "anytls",
      "listen": "::", "listen_port": 443,
      "users": [{"name": "proteus", "password": "{{ keepassxcAttribute "sing-box" "trojan_password" }}"}],
      "tls": {
        "enabled": true,
        "server_name": "{{ keepassxcAttribute "sing-box" "reality_server_name" }}",
        "reality": {
          "enabled": true,
          "handshake": {"server": "{{ keepassxcAttribute "sing-box" "reality_server_name" }}", "server_port": 443},
          "private_key": "{{ keepassxcAttribute "sing-box" "reality_private_key" }}",
          "short_id": "{{ keepassxcAttribute "sing-box" "reality_short_id" }}"
        }
      }
    }
  ],
  "outbounds": [{"tag": "Direct", "type": "direct"}],
  "route": {
    "rules": [
      {
        "action": "reject",
        "method": "drop",
        "invert": true,
        "rule_set_ip_cidr_match_source": true,
        "rule_set": [
          "geoip-china-mobile-as56046",
          "geoip-china-telecom-as4134",
          "geoip-china-telecom-as140292",
          "geoip-maya-mwc26-as39944",
          "geoip-china-telecom-as4812"
        ]
      },
      {
        "action": "hijack-dns",
        "type": "logical",
        "mode": "or",
        "rules": [{"port": 53}, {"protocol": "dns"}]
      },
      {"action": "reject", "no_drop": true, "ip_cidr": ["::/0"]}
    ],
    "rule_set": [
      {
        "tag": "geoip-china-mobile-as56046",
        "type": "remote",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/sing/asn/AS56046.srs"
      },
      {
        "tag": "geoip-china-telecom-as4134",
        "type": "remote",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/sing/asn/AS4134.srs"
      },
      {
        "tag": "geoip-china-telecom-as140292",
        "type": "remote",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/sing/asn/AS140292.srs"
      },
      {
        "tag": "geoip-maya-mwc26-as39944",
        "type": "remote",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/sing/asn/AS39944.srs"
      },
      {
        "tag": "geoip-china-telecom-as4812",
        "type": "remote",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/sing/asn/AS4812.srs"
      }
    ]
  }
}
